
.input {
  display: inline-flex;

  border: 2px solid gray;
  border-radius: 4px;

  padding-right: 4px;
  transition: all .2s ease;
}

.input:hover {
  box-shadow: 0 0 2px black;
}

.input:focus {
  border-color: black;
}

.input-input {
  border: 0;
  background: transparent;
  outline: 0;
}

.input__wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}


.input-btn {
  width: 16px;
  height: 16px;
  padding: 0;
  background: transparent;
  outline: unset;
  border: 0;
  
  cursor: pointer;
  opacity: .5;

  transition: opacity .2s ease;
}

.input-btn:hover {
  opacity: 1;
}

.input-btn__icon {
  width: 100%;
  height: 100%;
}