
.toast {
  position: fixed;
  bottom: 2%;
  right: 2%;

  padding: .5rem;
  width: 100%;
  max-width: 350px;

  font-family: Arial, Helvetica, sans-serif;

  border-radius: 4px;

  background: #171717;
  color: #c3c3c3;
  transition: all .6s ease;
}

.toast_fade {
  opacity: 0;
}

.toast_slide {
    transform: translate(120%);
}

.toast-active {
  transform: translate(0);
  opacity: 1;
}

.toast__title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.toast__title h3 {
  font-size: 16px;
  font-weight: 800;
  margin: 0;

  flex: 1;
}

.toast__title p {
  font-size: 14px;
  font-weight: 800;
}

.toast__content {
  font-size: 12px;
}

.toast-icon {
  display: block;
  width: 1rem;
  height: 1rem;
}

.toast-icon__icon {
  width: 100%;
  height: 100%;
}

.toast-close-btn {
  width: 16px;
  height: 16px;

  background: transparent;
  position: relative;

  cursor: pointer;
  opacity: .7;

  transition: opacity .2s ease;
}

.toast-close-btn:hover {
  opacity: 1;
}

.toast-close-btn::after, .toast-close-btn::before {
  content: "";

  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 1px;

  background: #c3c3c3;
}

.toast-close-btn::after {
  transform: rotate(45deg);
}

.toast-close-btn::before {
  transform: rotate(-45deg);
}
