
.bg-close {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;

  background-color: rgba(0,0,0, .7);
}

.sidebar {
  width: 35%;
  height: 100vh;
  background: #171717;
  color: #c3c3c3;
  
  padding: 5px 16px;
  
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1002;

  font-family: Arial, Helvetica, sans-serif;

  overflow: auto;

  transform: translate(110%);
  
  transition: transform .2s ease;
}

.sidebar_acitve {
  transform: translate(0);
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.menu-button {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  text-decoration: none; 
  
  font-size: 16px;
  text-align: start;
  color: #c3c3c3;

  padding: 8px;
  margin: 4px 0;

  border-radius: 4px;

  background: none;
  border: 0;
  outline: none;
  cursor: pointer;

  position: relative;

  transition: background .2s ease;
}

.menu-button_icon {
  display: block;

  width: 12px;
  height: 12px;

  position: relative;

  transition: transform .2s ease;
}

.menu-button_icon_active {
  transform: rotate(180deg);
}

.menu-button_icon::after, .menu-button_icon::before {
  content: "";
  width: 55%;
  height: 1px;

  background-color: #c3c3c3;

  position: absolute;
  top: 50%;
  right: 0;
  transform: rotate(-45deg);
}

.menu-button_icon::before {
  top: 50%;
  right: unset;
  left: 0;
  transform: rotate(45deg);
}

.menu-button:hover {
  background: rgb(39, 39, 39);
}